<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Listagem De Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let prods of listaProdutos">

      <ion-item class="cad-prod">
        <ion-label>
          <div>
            <h1>{{prods.nome}}</h1>
            <p>Tipo: {{prods.tipo}}</p>
            <p>Preço: {{prods.preco}}</p>
            <p>Quantidade: {{prods.quant}}</p>
            <p>Cod. de Barras: {{prods.codigobarra}}</p>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" slot="icon-only">
          <ion-icon name="trash-bin"></ion-icon>
      </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/cadastro' color="danger">
      <ion-icon name="archive" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
