ion-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.cad-prod{

  border: #ff4961 3px solid;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;

  h1{
  text-align: center;
  color: #ff4961;
   font-family: monospace;
   font-weight: bold;
   font-size: 18pt;
  }

  p{
    font-family: Arial;
    font-size: 13pt;
  }

}
